.cluster {
  /* credit: https://www.pinterest.ca/pin/329185053984296818/ */
  background: url('./assets/grass.jpg');
  background-size: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
