.sheep-farm {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-height: 200px;
  margin: 15px;
  padding-top: 50px;
}

.farm {
  background: url('./assets/grass.png');
  background-size: 25px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;

  flex: 1;
  padding: 10px;
}

.billboard {
  background: url('./assets/billboard.png');
  font-size: 16px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-size: 30px;
  color: white;
}

.house {
  width: 100px;
  position: absolute;
  right: 15px;
  top: 15px;
}
